<div class="navigation">
	<div id="tocinside">
		<h3>API</h3>
		<ul class="toc">
			<li><a href="/doc/libs/">Neko Standard Library API</a>
				<ul>
					<li><a href="/doc/view/builtins/">Builtins</a></li>
					<li><a href="/doc/view/buffer/">Buffer</a></li>
					<li><a href="/doc/view/date/">Date</a></li>
					<li><a href="/doc/view/file/">File</a></li>
					<li><a href="/doc/view/int32/">Int32</a></li>
					<li><a href="/doc/view/math/">Math</a></li>
					<li><a href="/doc/view/md5/">MD5</a></li>
					<li><a href="/doc/view/memory/">Memory</a></li>
					<li><a href="/doc/view/module/">Module</a></li>
					<li><a href="/doc/view/random/">Random</a></li>
					<li><a href="/doc/view/serialize/">Serialize</a></li>
					<li><a href="/doc/view/socket/">Socket</a></li>
					<li><a href="/doc/view/string/">String</a></li>
					<li><a href="/doc/view/sys/">System</a></li>
					<li><a href="/doc/view/utf8/">UTF8</a></li>
					<li><a href="/doc/view/xml/">Xml</a></li>
					<li><a href="/doc/view/thread/">Thread</a></li>
					<li><a href="/doc/view/ui/">Ui</a></li>
					<li><a href="/doc/view/process/">Process</a></li>
					<li><a href="/doc/view/misc/">Misc</a></li>
					<li><a href="/doc/view/regexp/">Regexp</a></li>
					<li><a href="/doc/view/mysql/">Mysql</a></li>
					<li><a href="/doc/view/cgi/">Mod_neko</a></li>
					<li><a href="/doc/view/sqlite/">Sqlite</a></li>
					<li><a href="/doc/view/zlib/">ZLib</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>

<div class="siteContent">
	::content::
</div>
