<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<title>::if (title != null)::::title:: - ::end::NekoVM</title>
		<meta name="date" content="2016-01-01T12:00:05+0100" />
		<meta name="robots" content="index,follow" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet" media="screen" type="text/css" href="/css/style.min.css"/>
		<link rel="stylesheet" media="screen" type="text/css" href="/css/code-highlight.css"/>
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic" />
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,600italic,400" />
		::if (canonical != null)::<link rel="canonical" href="::canonical::"/>::end::
	</head>
	<body>
		::if (canonical != null)::
		<!--
			Force redirect to the right origin.
			It is needed to redirect `path` to `path/` with the correct domain name.
			See the "Caveats" section of http://strd6.com/2016/02/github-pages-custom-domain-with-ssltls/.
		-->
		<script type="text/javascript">
			function startsWith(str, searchString){
				return str.substr(0, searchString.length) === searchString;
			}
			if (!startsWith(location.href, "::canonical::")) {
				window.location.replace("::canonical::");
			}
		</script>
		::end::

		<nav>
			<ul class="siteMenu">
				<li><a href="/">Home</a></li>
				<li><a href="/news/">News</a></li>
				<li><a href="/download/">Downloads</a></li>
				<li><a href="/doc/begin/">Documentation</a></li>
				<li><a href="/specs/syntax/">Specification</a></li>
				<li><a href="/doc/libs/">API</a></li>
				<li><a href="/faq/">FAQ</a></li>
				<li><a href="/ml/">Contact</a></li>
			</ul>
		</nav>
		<div class="center">
			<div class="siteHeader">
				<a href="/" title="NekoVM home"><img src="/img/nekovm-logo.png" alt="NekoVM logo"/></a>
			</div>
			<div class="container">
				::viewContent::
			</div>

			<div class="corpo">
				<p>&copy; 
				<a href="https://haxe.org/foundation/" title="Haxe Foundation Website" class="hf-link">Haxe Foundation</a>
				::if (editLink != null)::
				| <a href="::editLink::" target="_blank" rel="external" class="edit-link" title="Use Github to suggest an edit to this page">Contribute to this page</a>
				::end::
				</p>
			</div>
		</div>

		<script src="/js/code-highlight.js"></script>
		<script>hljs.registerLanguage( "neko", function() { return hljs.getLanguage("js"); } );</script>
		<script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>
