<h1>Downloads</h1>
<div class="level1">

<p>
 The following downloads are currently available :
</p>
<ul>
<li class="level1"><div class="li"> Neko 2.0.0 <a href="/_media/neko-2.0.0.tar.gz?id=download&amp;cache=cache" class="urlextern" title="neko-2.0.0.tar.gz" style="background-image: url(/lib/images/fileicons/gz.png)" onclick="return svchk()" onkeypress="return svchk()">sources TGZ</a></div>
</li>
<li class="level1"><div class="li"> Neko 2.0.0 <a href="/_media/neko-2.0.0-win.zip?id=download&amp;cache=cache" class="urlextern" title="neko-2.0.0-win.zip" style="background-image: url(/lib/images/fileicons/zip.png)" onclick="return svchk()" onkeypress="return svchk()">Windows binaries</a></div>
</li>
<li class="level1"><div class="li"> Neko 2.0.0 <a href="/_media/neko-2.0.0-linux.tar.gz?id=download&amp;cache=cache" class="urlextern" title="neko-2.0.0-linux.tar.gz" style="background-image: url(/lib/images/fileicons/gz.png)" onclick="return svchk()" onkeypress="return svchk()">Linux binaries</a> </div>
</li>
<li class="level1"><div class="li"> Neko 2.0.0 <a href="/_media/neko-2.0.0-linux64.tar.gz?id=download&amp;cache=cache" class="urlextern" title="neko-2.0.0-linux64.tar.gz" style="background-image: url(/lib/images/fileicons/gz.png)" onclick="return svchk()" onkeypress="return svchk()">Linux 64 bits binaries</a> </div>
</li>
<li class="level1"><div class="li"> Neko 2.0.0 <a href="/_media/neko-2.0.0-osx.tar.gz?id=download&amp;cache=cache" class="urlextern" title="neko-2.0.0-osx.tar.gz" style="background-image: url(/lib/images/fileicons/gz.png)" onclick="return svchk()" onkeypress="return svchk()">OS X binaries</a></div>
</li>
</ul>

<p>
 To compile from sources you need to install <a href="http://www.hpl.hp.com/personal/Hans_Boehm/gc" class="urlextern" target="_blank" title="http://www.hpl.hp.com/personal/Hans_Boehm/gc" onclick="return svchk()" onkeypress="return svchk()" rel="nofollow">libgc-dev</a>.
</p>

<p>
You can access Neko sources from the <a href="https://github.com/HaxeFoundation/neko" class="urlextern" target="_blank" title="https://github.com/HaxeFoundation/neko" onclick="return svchk()" onkeypress="return svchk()" rel="nofollow">GitHub  Repository</a>
</p>

<p>
Enjoy !
</p>

</div>
