<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
	<head>
		<title>::title:: - NekoVM</title>
		<meta name="date" content="2014-12-03T13:04:37+0100" />
		<meta name="robots" content="index,follow" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet" media="screen" type="text/css" href="/css/style.css"/>
		<link rel="stylesheet" media="screen" type="text/css" href="/css/code-highlight.css"/>
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic" />
		<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,600,600italic,400' rel='stylesheet' type='text/css'>
	</head>
	<body data-uf-layout="neko">
		<div class="center">
			<div class="siteHeader">
				<a href="/" title="NekoVM home"><img src="/img/nekovm-logo.png" alt="NekoVM logo"/></a>
			</div>
			<nav>
				<ul class="siteMenu" data-uf-partial="menu">
					<li><a href="/" rel="pushstate">Home</a></li>
					<li><a href="/news" rel="pushstate">News</a></li>
					<li><a href="/download" rel="pushstate">Downloads</a></li>
					<li><a href="/doc" rel="pushstate">Documentation</a></li>
				</ul>
			</nav>
			<div class="container">
				::viewContent::
			</div>

			<div class="corpo">
				<a href="https://github.com/haxefoundation/neko/issues">Report an issue</a> |
				<a href="::editLink::">Contribute to this page</a> |
				<a href="/sitemap/" rel="pushstate">Sitemap</a>
				<br><br> &copy;::currentYear:: <a href="http://haxe.org/foundation/">Haxe Foundation</a>
			</div>

		</div>

		<script src="/js/code-highlight.js"></script>
		<script>hljs.registerLanguage( "neko", function() { return hljs.getLanguage("js"); } );</script>
		<script>hljs.initHighlightingOnLoad();</script>
		<script src="/js/client.js"></script>
	</body>
</html>
