<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
	<head>
		<title>::title:: - NekoVM</title>
		<meta name="date" content="2014-12-03T13:04:37+0100" />
		<meta name="robots" content="index,follow" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="stylesheet" media="screen" type="text/css" href="/css/style.css"/>
		<link rel="stylesheet" media="screen" type="text/css" href="/css/code-highlight.css"/>
	</head>
	<body data-uf-layout="neko">
		<div class="center">

			<div class="siteHeader">
				<div class="siteBanner">
					<div class="bannerContent">
						<ul class="siteMenu" data-uf-partial="menu">
							<li><a href="/" rel="pushstate">home</a></li>
							<li><a href="/news" rel="pushstate">news</a></li>
							<li><a href="/download" rel="pushstate">downloads</a></li>
							<li><a href="/doc" rel="pushstate">documentation</a></li>
							<li><a href="/faq" rel="pushstate">FAQ</a></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="siteBox">
				<div class="siteContent" data-uf-partial="content">
					::viewContent::
				</div>
			</div>

			<div class="corpo">
				<a href="::editLink::">Contribute to this page using Github</a>.
				| <a href="/sitemap/" rel="pushstate">View Sitemap</a>.
				| &copy;::currentYear:: <a href="http://haxe.org/foundation/">Haxe Foundation</a>.
			</div>

		</div>

		<script src="/js/code-highlight.js"></script>
		<script>hljs.registerLanguage( "neko", function() { return hljs.getLanguage("js"); } );</script>
		<script>hljs.initHighlightingOnLoad();</script>
		<script src="/js/client.js"></script>
	</body>
</html>
